.header {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:auto; 
  }
  .search{
    width:300px;
    
  }
  .dropdown{
    margin:0 12px;


  }
  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
}
  
  .cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
    
  }
  
  .cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
  }
  
  /* Home Page */
  
  .home {
    display: flex;
    flex-direction: column;

  }
  
  .filters {
    background-color:rgb(32, 95, 32);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height:auto;
  }
  
  .filters > span {
    padding-bottom: 20px;
  }
  
  .title {
    font-size: 30px;
  }
  
  .productContainer{
    display: flex;
    width:100%;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .products {
    width:300px;
    margin: 10px;
    
    cursor: pointer;
  }
  
  .summary {
    width: 30%;
  }
  
  
  /* Media Queries */
  @media (max-width: 771px) {
    .filters {
      width: 40%;
      padding: 10px;
      margin: 5px;
    }
  
    .filters > span {
      font-size: 10px;
    }
  
    .title {
      font-size: 18px !important;
    }
    .shoppingCart{
        font-size: 15px !important;
        color:blue;
    }
  
    .productContainer {
      width: 58%;
      padding: 0;
    }
    
    
  
    .products {
      width: 100%;
    }
  }